# Dockerfiles
Dockerfile
.dockerignore
docker-stack.yml

# Git files
.gitignore
.gitattributes
.git/
.github/

# Other config and files
Makefile
README.md
LICENSE

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Deno and npm
deno.lock
package-lock.json
node_modules

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
