# Go files
go.sum

# Compiled binaries
*.exe
bin/

# Dockerfiles
Dockerfile
.dockerignore

# Git files
.gitignore
.gitattributes
.git/
.github/

# Environment
.env
.env.*

# Templ files
*_templ.txt
*_templ.go*

# sqlc files
database/generated

# TailwindCSS files
public/styles.css
