@import "tailwindcss";

html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.max-div-width {
    max-width: 65em;
}

.red {
    border-color: red;
}

.gray {
    border-color: gray;
}

.blue {
    border-color: blue;
}
