name: Build

on:
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/pull_request_template.md'
      - '.github/release.yml'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '.dockerignore'
      - 'docker-stack.yml'
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/pull_request_template.md'
      - '.github/release.yml'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
      - 'Dockerfile'
      - '.dockerignore'
      - 'docker-stack.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Build Container
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            API=${{ vars.API }}
            DOCS_API=${{ vars.DOCS_API }}
